:host {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

:host:last-child {
  border-bottom: none;
}

.word-item {
  width: 100%;
}

.word {
  font-weight: bold;
  color: #333;
}

.meaning {
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
