mat-card {
  margin: 12px;
}

section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 50px;
}
mat-slide-toggle {
  margin: 12px;
}

mat-divider {
  margin-bottom: 12px;
}
